---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: postgres-operator

commonLabels:
  component: postgresdb

resources:
- namespace.yaml
- operatorgroup.yaml
- subscription.yaml
- postgresdb-config
- ../../installplan-approver-job/base

patches:
- patch: |-
    - op: replace
      path: "/spec/template/spec/containers/0/env"
      value:
      - name: NAMESPACE
        value: "postgres-operator"
  target:
    kind: Job
    name: installplan-approver
