apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

images:
- name: docker.io/bitnami/sealed-secrets-controller
  newName: icr.intertech.com.tr/bitnami/sealed-secrets-controller
