---
apiVersion: v1
data:
  viewer-pod-template.json: |-
    {
        "spec": {
            "serviceAccountName": "ds-pipelines-viewer-{{ .Values.project.user }}"
        }
    }
kind: ConfigMap
metadata:
  name: ds-pipeline-ui-configmap
  namespace: {{ .Values.project.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "83"
---
apiVersion: v1
data:
  artifactRepository: |
    archiveLogs: false
    s3:
      endpoint: "https://{{ .Values.objectStorage.externalStorage.host }}"
      bucket: "{{ .Values.project.name }}"
      # keyFormat is a format pattern to define how artifacts will be organized in a bucket.
      # It can reference workflow metadata variables such as workflow.namespace, workflow.name,
      # pod.name. Can also use strftime formating of workflow.creationTimestamp so that workflow
      # artifacts can be organized by date. If omitted, will use `\{\{workflow.name\}\}/\{\{pod.name\}\}`,
      # which has potential for have collisions, because names do not guarantee they are unique
      # over the lifetime of the cluster.
      # Refer to https://kubernetes.io/docs/concepts/overview/working-with-objects/names/.
      #
      # The following format looks like:
      # artifacts/my-workflow-abc123/2018/08/23/my-workflow-abc123-1234567890
      # Adding date into the path greatly reduces the chance of \{\{pod.name\}\} collision.
      keyFormat: "artifacts/\{\{workflow.name\}\}/\{\{workflow.creationTimestamp.Y\}\}/\{\{workflow.creationTimestamp.m\}\}/\{\{workflow.creationTimestamp.d\}\}/\{\{pod.name\}\}"  # TODO
      # insecure will disable TLS. Primarily used for minio installs not configured with TLS
      insecure: true
      accessKeySecret:
        name: "ds-pipeline-extobjstor-creds"
        key: "AWS_ACCESS_KEY_ID"
      secretKeySecret:
        name: "ds-pipeline-extobjstor-creds"
        key: "AWS_SECRET_ACCESS_KEY"
  # containerRuntimeExecutor: emissary
  # executor: |
    #imagePullPolicy: IfNotPresent  # TODO
kind: ConfigMap
metadata:
  name: custom-workflow-controller-configmap
  namespace: {{ .Values.project.name }}
  annotations:
    argocd.argoproj.io/sync-wave: "83"
