---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kuadrant-system

commonLabels:
  component: kuadrant-operator

resources:
- namespace.yaml
- operatorgroup.yaml
- subscription.yaml
- ../../installplan-approver-job/base
- kuadrant.yaml

patches:
- patch: |-
    - op: replace
      path: "/spec/template/spec/containers/0/env"
      value:
      - name: NAMESPACE
        value: "kuadrant-system"
    - op: replace
      path: "/metadata/name"
      value: "kuadrant-operator-installplan-approver"
  target:
    kind: Job
    name: installplan-approver
